<template id="component-form">
    <div>
        <b-form-input
          id="input-1"
          v-model="numberTickets"
          type="number"
          required
          placeholder="Enter number tickets"
        ></b-form-input>
        <button class="btn btn-primary" @Click="createRandomTickets">Import</button>
    </div>
</template>

<script>
    var subjects = [
        'My phone is damage',
        'My tv is damage',
        'my computer does not on'
    ];

    var descriptions = [
        'My phone is damage Help me!',
        'I do not have internet',
        'I need a solution'
    ];

    var priorities = [
        'medium',
        'normal',
        'high'
    ];

    var statusList = [
        'open',
        'closed',
        'pending'
    ];

    var requesters_ids = [
        387605885812
        //360355204552
    ];

    Vue.component('component-form', {
        name: 'component-form',
        template: '#component-form',
        delimiters: ["${", "}"],
        data: function() {
            return {
                numberTickets: 1
            }
        },
        methods: {
            createRandomTickets: function() {
                for (let index = 1; index <= this.numberTickets; index++) {
                    //const element = array[index];
                    var description = this.getRandomData(descriptions)
                    var data = {
                            "ticket": {
                                "subject": this.getRandomData(subjects),
                                "description": description,
                                "comment": {
                                    "body": description
                                },
                                "priority": this.getRandomData(priorities),
                                "status": this.getRandomData(statusList),
                                "requester_id": this.getRandomData(requesters_ids)
                            }
                        }
                        /* data = {
                            "ticket": {
                                "subject": "ddd",
                                "comment": {
                                    "body": "body"
                                }
                            }
                        } */
                    this.createTicket(data)
                }

            },
            createTicket: function(data) {
                axios
                    .post(`/v1/create/tickets`, data)
                    .then(response => {
                        console.log(response)
                    });
            },
            getRandomData: function(array) {
                var countItemsArray = array.length;
                var index = Math.floor(Math.random() * countItemsArray); // returns a random integer from 0 to 9
                var element = array[index];
                return element;
            }
        },
    });
</script>