{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col">
        <h4>Tickets</h4>
        <component-import table="tickets"></component-import>
        <component-table collection="tickets"></component-table>
        <h4>Create random tickets</h4>
        <component-form></component-form>
    </div>
</div>
{% endblock %}

{% block footer %} 

{% include "components/import/import.html" %} 
{% include "components/table/table.html" %} 
{% include "components/forms/form.html" %} 

{% endblock %}