{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col">
        <h4>Users</h4>
        <component-import table="users"></component-import>
        <component-table collection="users"></component-table>
    </div>
</div>
{% endblock %}

{% block footer %} 

{% include "components/table/table.html" %} 
{% include "components/import/import.html" %} 

{% endblock %}