<template id="component-import">
    <div>
        <button class="btn btn-primary" @Click="importData">Import ${table}</button>
    </div>
</template>

<script>
    Vue.component('component-import', {
        name: 'component-import',
        template: '#component-import',
        delimiters: ["${", "}"],
        data: function() {
            return {
                
            }
        },
        props: {
            table: {
                type: String,
                default: null
            }
        },
        methods: {
            importData: function() {
                axios
                    .get(`/v1/import/${this.table}`)
                    .then(response => {
                        console.log(response)
                        console.log(response.data)
                    });
            }

        },
    });
</script>