<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css">
    <title>Document</title>
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>My project to Playvox</h1>
                <div>
                    <a class="alert-link" href="/">home</a>
                    <a class="alert-link" href="/users">Users</a>
                    <a class="alert-link" href="/tickets">Tickets</a>
                </div>
                <hr>

                <div id="app">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% block footer %} {% endblock %}
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["${", "}"],
        data: {}
    });
</script>

</html>