<template id="component-table">
    <div>
        <table class="table table-bordered table-hover table-striped" v-if="collection == 'users'">
            <thead>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Creation</th>
            </thead>
            <tbody>
                <tr v-for="item in listData">
                    <td>${item.first_name}</td>
                    <td>${item.last_name}</td>
                    <td>${item.email}</td>
                    <td>${item.create_at}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-hover table-striped"  v-if="collection == 'tickets'">
            <thead>
                <th>subject</th>
                <th>description</th>
                <th>priority</th>
                <th>status</th>
                <th>via</th>
                <th>ticket_id</th>
                <th>Users_id</th>
            </thead>
            <tbody>
                <tr v-for="item in listData">
                    <td>${item.subject}</td>
                    <td>${item.description}</td>
                    <td>${item.priority}</td>
                    <td>${item.status}</td>
                    <td>
                        <div><strong>Channel: </strong>${item.via.channel}</div>
                        <!-- <div><strong>Channel: </strong>${item.via}</div> -->
                    </td>
                    <td>${item.ticket_id}</td>
                    <td>${item.integration_id}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    Vue.component('component-table', {
        name: 'component-table',
        template: '#component-table',
        delimiters: ["${", "}"],
        data: function() {
            return {
                listData: null
            }
        },
        props: {
            collection: {
                type: String,
                default: null
            }
        },
        created() {
            this.loadListDB(this.collection);
        },
        
        methods: {
            loadListDB: function(collection) {
                axios
                    .get(`/v1/${collection}`)
                    .then(response => (this.listData = response.data));
            }

        },
    });
</script>